node_modules
dist
src/materialize-src/
src/Pages/normline/functions/dist/
static/dist/
python3/
static/db.json
*.zip
static/assets/python_files/local/*.json
static/assets/python_files/__pycache__/*.pyc
.vscode
static/assets/python_files/notebooks/CollisionalSimulations/*.png
static/assets/python_files/notebooks/profile_fit/.ipynb_checkpoints/voigt_profile-checkpoint.ipynb
static/assets/python_files/notebooks/profile_fit/CD+_J01.pdf
static/assets/python_files/notebooks/profile_fit/CD+_J01.png
static/assets/python_files/ROSAA/__pycache__/*.pyc
static/assets/python_files/notebooks/profile_fit/__pycache__/optimizePlot.cpython-38.pyc
static/assets/python_files/notebooks/profile_fit/CD+_in_MHz_fit.dat
static/assets/python_files/data.json
static/output.log
out/
src/Pages/**/config.json
