@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf")format('truetype'),
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

html, body { 
    background-color: #46307d;
    background-image: url(intro.svg);
    user-select: none;
}


@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf"),
    url("CustomFont.otf") format("opentype"),
    url("CustomFont.svg#filename") format("svg");
}
