
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf),
    url("CustomFont.otf") format("opentype"),
    url("CustomFont.svg#filename") format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

html, body { 
    background-color: #513a8a;
    background-image: url(intro.svg);
    user-select: none;
}

body::-webkit-scrollbar {
	width: 0 !important;
}


/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #f1f1f19d;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #f1f1f1;
}

