// Variables
$mainColor:#fafafa;
$secondaryColor: #46307d;
//themecolor
$mdc-theme-primary: $mainColor;
$mdc-theme-secondary: $secondaryColor;

// Navbar
$mdc-tab-text-label-color-default: $mainColor;