
// Variables
$white: #fafafa;
$light: #f5f5f5b8;
$dark: #333;
$mainColor:#fafafa;
$secondaryColor: #6a50ad;

$mdc-theme-primary: $mainColor;
$mdc-theme-secondary: $secondaryColor;
$mdc-theme-background: $light;


// Text-field (input)
$mdc-text-field-label: $light;
$mdc-text-field-bottom-line-hover: $light;

$mdc-text-field-bottom-line-idle: $light;

// Text-area outline
$mdc-text-field-outlined-idle-border: $light;
$mdc-text-field-outlined-disabled-border: $light;
$mdc-text-field-outlined-hover-border: $light;
$mdc-text-field-focused-label-color: $mainColor;

// Navbar Tab label text color
$mdc-tab-text-label-color-default: $mainColor;

// Radio button
$mdc-radio-baseline-theme-color: $white;
$mdc-radio-unchecked-color: $white;

// Select options
$mdc-select-bottom-line-idle-color: $light;
$mdc-select-bottom-line-hover-color: $white;
$mdc-select-label-color: $white;
$mdc-select-ink-color: $white;
$mdc-select-dropdown-color: $white;