.changelog__container {
    * {
        color: black;
    }
    ul {
        padding-left: 1em;
    }
    li {
        list-style: disc;
    }

    h1 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.125;
    }

    h2 {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.25;
    }

    h1,
    h2 {
        word-break: break-word;
        margin: 1em 0;
    }
    .mdc-dialog__title {
        margin: 0;
    }
}
.mdc-button .mdc-button__label {
    color: #fff;
}
.mdc-dialog__content::-webkit-scrollbar {
    background: #673ab7;
}