.report-editor-div {
    display: grid;
    gap: 1em;
}

.ck.ck-content * {
    color: black;
}
.ck-editor {
    min-height: 10em;
    width: 100%;
}

.ck-editor__main {
    overflow: auto;
    max-height: 50rem;
}
.ck-content .table table {
    border: 2px double black;
    background: white;
}
.notice__div {
    width: 100%;
    background: #634e96;
    border: 1px solid;
    border-radius: 0.2em;
    padding: 0.2em;
    font-size: 25px;
    font-weight: bold;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.editor-div * {
    color: black;
}

.wb-body {
    .report-editor-div {
        padding: 1em;
        display: grid;
        gap: 1em;
        height: 100%;
        grid-template-rows: auto 1fr;
        .ck-editor__main {
            max-height: calc(100% - 5em);
        }
    }
}

.report_location__div {
    display: grid;
    grid-template-columns: auto 3fr 1fr auto;
    width: 100%;
    gap: 1em;
    align-items: center;
}

.btn-row {
    display: flex;
    gap: 1em;
}

.report_main__div {
    .report_controler__div {
        display: grid;
        gap: 1em;
        width: 100%;
        margin: 0;
    }
}
