@media print { body { -webkit-print-color-adjust: exact; } }
* {
    margin: 0;
    padding: 0 1em;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import "../../..//node_modules/bulma/sass/utilities/_all.sass";
@import "../../..//node_modules/bulma/sass/elements/notification.sass";
@import "../../..//node_modules/bulma/sass/elements/table.sass";
@import "../../..//node_modules/bulma/sass/elements/content.sass";

@import "../../..//node_modules/bulma/sass/layout/section.sass";