.cube {
    position: absolute;
    width: 1em;
    height: 1em;
    background: #FED74C;
    animation: move 3s ease-in-out infinite;
    transform-style: preserve-3d;
    box-shadow: 5em 5em 0.3em 0.1em #DBDBDB;
  }
  .cube::before, .cube::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .cube::before {
    background-color: #C97431;
    transform-origin: 100% 100%;
    transform: rotateY(-90deg);
  }
  .cube::after {
    background-color: #E7A22B;
    transform-origin: 0% 100%;
    transform: rotateX(90deg);
  }
  .cube:nth-of-type(1) {
    animation-delay: -11.25s;
  }
  .cube:nth-of-type(2) {
    animation-delay: -10.5s;
  }
  .cube:nth-of-type(3) {
    animation-delay: -9.75s;
  }
  .cube:nth-of-type(4) {
    animation-delay: -9s;
  }
  @keyframes move {
    0%, 87.5%, 100% {
      transform: translate(1em, 0em);
    }
    12.5% {
      transform: translate(2em, 0em);
    }
    25% {
      transform: translate(2em, 1em);
    }
    37.5%, 50% {
      transform: translate(1em, 1em);
    }
    62.5% {
      transform: translate(0em, 1em);
    }
    75% {
      transform: translate(0em, 0em);
    }
  }
  .box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 3em;
    height: 2em;
    margin: 30vmin auto;
    font-size: 50px;
    transform-style: preserve-3d;
    transform: rotateX(60deg) rotateZ(45deg);
  }
  .box:hover * {
    animation-play-state: paused;
  }
  .box:active * {
    animation-play-state: running;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    line-height: 1.4;
  }
  .intro {
    width: 90%;
    max-width: 50rem;
    padding-top: 0.5em;
    padding-bottom: 1rem;
    margin: 0 auto 1em;
    font-size: calc(1rem + 2vmin);
    text-transform: capitalize;
    text-align: center;
    font-family: serif;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
  }
  .info {
    margin: auto 0 0;
    padding: 1em;
    font-size: 0.9em;
    font-style: italic;
    font-family: serif;
    text-align: right;
    opacity: 0.5;
  }
  .info a {
    color: inherit;
  }
  