// MDC
@import "@material/typography/mdc-typography";
$mainColor: #46307d;
.mdc-linear-progress__buffer {background-color: $mainColor;}

// Bulma styles
$text: #fafafa;
$scheme-main: $mainColor;

@import "bulma/sass/utilities/_all.sass";

// Bulma Navbar
$navbar-breakpoint: 700px;
@import "bulma/sass/components/navbar.sass";

// Bulma box
@import "bulma/sass/elements/box.sass";

// Bulma columns
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/grid/tiles.sass";
@import "bulma/sass/elements/notification.sass";

.container {padding: 30px;}