// MDC
@import "@material/typography/mdc-typography";

$white: #fafafa;
$mainColor: #46307d;
$light: #f5f5f5b8;


// Custom styles

// Linear progress line
.mdc-linear-progress__buffer {background-color: $mainColor;}

// Input text and textarea width ans heoght respectively
.mdc-text-field  { width: 100%; }
.mdc-text-field--textarea {height: 300px;}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {color: $white;}
.mdc-text-field:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text {color: $white;}

// Checkbbox: Inactive: border color
.mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate)~.mdc-checkbox__background {border-color: $light;}

// Checkbox: Active tickmark symbol
.mdc-checkbox__checkmark {color: $white;}
.mdc-checkbox__mixedmark {border-color: $white;} //Intermediate


// Bulma styles
$text: $white;
$scheme-main: $mainColor;
$primary: lighten($mainColor, 10);
$success: #09814a;

// Bulma: Utilities
@import "bulma/sass/utilities/_all.sass";

// Bulma: Navbar
$navbar-breakpoint: 700px;
@import "bulma/sass/components/navbar.sass";

// Bulma: box
@import "bulma/sass/elements/box.sass";

// Bulma: Container and section
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/layout/section.sass";

// Bulma: Helper
@import "bulma/sass/base/helpers.sass";

// Bulma: Columns

@import "bulma/sass/grid/columns.sass";