
// MDC
@import "@material/typography/mdc-typography";

// Bulma styles
$text: #fafafa;
$scheme-main: #46307d;

@import "bulma/sass/utilities/_all.sass";

// Navbar
$navbar-breakpoint: 700px;
@import "bulma/sass/components/navbar.sass";

@import "bulma/sass/elements/box.sass";
// @import "bulma/sass/grid/columns.sass";

.container {padding: 30px;}