
// MDC
@import "@material/typography/mdc-typography";

$white: #fafafa;
$mainColor: #513a8a5c;
$light: #f5f5f5b8;

// Linear progress line
.mdc-linear-progress__buffer {background-color: $mainColor;}
.mdc-text-field  { width: 100%; margin-right: 0.5em;}
.mdc-text-field--textarea {height: 300px;}

.mdc-text-field__input {padding-right: 1em!important;}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {color: $white!important;}
.mdc-text-field:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text {color: $white!important;}

// Checkbbox: Inactive: border color
.mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate)~.mdc-checkbox__background {border-color: $light!important;}

// Checkbox: Active tickmark symbol
.mdc-checkbox__checkmark {color: $white!important;}
.mdc-checkbox__mixedmark {border-color: $white!important;} //Intermediate
#dialogChecklist-content .mdc-list-item__text { color:black }
#dialogCheckList-content .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate)~.mdc-checkbox__background {border-color: #6a50ad;}

.mdc-button:not(:disabled) {background-color: #5b3ea2;}

.mdc-data-table {min-width: 30em; background-color: $mainColor!important; max-height: 25em; overflow-y: auto}
.mdc-data-table__content  {background-color: $white;}
label.mdc-text-field.mdc-text-field--outlined {height: 40px;}
.mdc-switch.mdc-switch--checked .mdc-switch__thumb, .mdc-switch.mdc-switch--checked .mdc-switch__track{background-color: $white}
.material-icons {margin-right:0.2em; cursor:pointer;}