$white: #fafafa;
$text: $white;
$text-strong: $white;
$scheme-main: $mainColor;
$primary: lighten(#46307d, 10);
$success: #09814a;
$desktop: 1100px;
$widescreen: 1370px;

// Bulma: Navbar
$navbar-breakpoint: 700px;

// Bulma: modal

$modal-card-head-padding: 1em;
$modal-card-body-background-color: $white;
$modal-card-head-radius: 0;

$modal-card-foot-radius: 0;
$background: lighten($mainColor, 20);
$modal-card-title-color: $white;

@import 'bulma/bulma.sass';

$link-color: #dbdbdb;
$transparent: rgba(0,0,0,0);
$success-color: $success;
$danger-color: #ff3860;

$warning-color: #ffc402;

// General button background
.button.is-link, .button.is-warning, .button.is-danger, .button.is-success {background-color: $transparent;}

// Link
.button.is-link:focus:not(:active), .button.is-link.is-focused:not(:active) {border-color: $white; box-shadow: none;}
.button.is-link {border-color: $link-color;}
.button.is-link:hover, .button.is-link.is-hovered {background-color: #7965a9; border-color: $white;}

// Warning
.button.is-warning {border-color: $warning-color; color: $white;}
.button.is-warning:hover, .button.is-warning.is-hovered {background-color: $warning-color; color: black;}
.button.is-warning:focus, .button.is-warning.is-focused { border-color: $warning-color; color: $white;}


// Danger
.button.is-danger {border-color: $danger-color;}
.button.is-danger:hover, .button.is-danger.is-hovered {background-color: $danger-color;}
.button.is-danger:focus:not(:active) {box-shadow: 0 0 0 0.1em $danger-color}

// Sucess
.button.is-success {border-color: $success-color;}
.button.is-success:hover, .button.is-success.is-hovered {background-color: $success-color;}

// Static
.button.is-static {background: transparent; color: $white;}

@import "extensions/bulma-quickview.sass";
@import "extensions/tooltip/bulma-tooltip.sass";
// @import "extensions/bulma-divider.sass";